---
import '../css/style.css'
import Layout from '../layouts/Layout.astro';
import PlaylistCardGrid from '../components/Playlist-card-grid.astro';
import Card from '../components/Card.astro';
import PlaylistCard from '../components/Playlist-card.astro';
---

<Layout title='Test' 

	

/>

<PlaylistCardGrid 
	title='Spotify Playlists'>
		<h1>HEJ MOR</h1>
	</PlaylistCardGrid>
<PlaylistCardGrid 
	title='Spotify Playlists 2'

	
/>











<!-- 
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			-->
