* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    width: 100%;
    display: block;
}

@media (min-width: 750px) {
    .grid_3col_1-1-1 {
        display: grid;
       /* flex-direction: row; */
        grid-template-columns: repeat(3, 1fr);
        gap: 5%;

    }
 
 
}
.column {
    display: flex;
    flex-direction: column;
}
.column > :last-child {
    margin-top: auto;
}

@media (max-width: 750px) {
    .grid_3col_1-1-1 {
        gap: 15%;
        display: block;
    }
    
}