@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Rambla&display=swap');

body {
    background-color: rgb(20, 20, 20);
    margin: 0;
    font-family: 'Rambla', sans-serif;
}

p, h3, h2, h1 {
    color: white;
}

#menu {
    height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 10%;
}

#menu-items:hover > .menu-item{
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover{
    opacity: 1;
}

#menu-items {
    position: relative;
    z-index: 2;
}

.menu-item{
    color: white;
    font-size: clamp(3rem, 8vw, 8rem);
    text-decoration: none;
    display: block;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
}

/* Background */
#background-pattern {
    height: 100vh;
    width: 100vw;

    background-image: radial-gradient(
        rgba(2255, 255, 255, 0.1) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 1;
    transition: opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease;
}

#menu-items:hover ~ #background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}


#menu[data-active-index="0"] > #background-pattern{
    background-position: 0% -33%;
}
#menu[data-active-index="1"] > #background-pattern{
    background-position: 0% -66%;
}
#menu[data-active-index="2"] > #background-pattern{
    background-position: 0% -100%;
}

#menu-background-image {
    height: 100%;
    width: 100%;
    background-image: url("mixer.jpg");
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    background-size: cover;
    background-position: center 40%;
    opacity: 0.2;
    transition: opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease;
}

#menu-items:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.5;
}

#menu[data-active-index="0"] > #menu-background-image{
    background-position: center 20%;
}
#menu[data-active-index="1"] > #menu-background-image{
    background-position: center 40%;
}
#menu[data-active-index="2"] > #menu-background-image{
    background-position: center 60%;
}

#embed-video{
    position: absolute;
    left: 50%;
    top: 25%;
    z-index: 3;
    border-style: solid;
    border-color: white;
    padding: 15px;
    color: white;
    text-align: center;
}
#link-video{
    position: absolute;
    left: 50%;
    top: 55%;
    z-index: 3;
    border-style: solid;
    border-color: white;
    padding: 15px;
    color: white;
    text-align: center;
}

#main-text {
    position: absolute;
    left: 50%;
    top: 35%;
    width: 25vw;
    line-height: 3vh;
    
    
}


#gallery {
    position: absolute;
    left: 50%;
    top: 20%;
    max-width: 50vh;
    max-height: 50vh;
    gap: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    z-index: 3;

}
.gallery-item {
    width: 100%;
    height: 100%;
}
.gallery-item:nth-child(1){
    grid-column: 1/span 1;
    grid-row: 1/span 2;
}
.gallery-item:nth-child(2){
    grid-column: 2/span 1;
    grid-row: 1
}
.gallery-item:nth-child(3){
    grid-column: 1/span 2;
    grid-row: 3;
}
.gallery-item:nth-child(4){
    grid-column: 2/span 1;
    grid-row: 2/span 1;
}

.btn {
    padding: 10px 25px;
    font-family: 'Rambla', sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
  .btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    color: rgb(0, 0, 0);
  }
  
  .btn:hover:after {
    top: 0;
    height: 100%;
  }
  
  .btn:active {
    top: 2px;
  }



