@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* Footer */
footer{
  text-align: center;
  margin: 5%;
  font-family: 'Oswald', sans-serif;
}
footer a {
  margin: 10%;
  color: #2E3192;
  
}

/* Nav Bar */
nav {
    background-color: #2E3192;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  img .logo{
    height: 40px;
    margin-right: 20px;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
  }
  
  li {
    margin: 0 10px;
    font-family: 'Oswald', sans-serif;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    color: #F15A24;
  }

  .overskrift {
    font-size: 500%;
    margin: 1%;
    text-align: center;
  }

  /* Grid assets */

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 768px) {
    .container {
      margin: 0 auto;
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr;
    }
    .diagram img{
      width: 20rem;
    }
  }
  
  .subgroup {
    /*border-style: solid;
    border-radius: 4%;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5%;
    margin: 2%;
  }
  .group h3 {
    margin-left: 5%;
    margin-bottom: 5%;
  }
  
  .item {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
  
  .item img {
    max-width: 100%;
    height: auto;
  }
  .diagram img{
    max-width: 25rem;
  }
 .text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5%;
  margin-left: 25%;
  width: 50%;
 }
