@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: "Heebo", sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

img {
    width: 20vw;
    aspect-ratio: 1/1;
    object-fit: cover;
}

article {
    margin: 15px;
    padding: 15px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
}