/* font-family: 'Heebo', sans-serif; */
* {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    /* Colors */
    --purple: #8704BF;
    --light: #EAD8F2;
    --blue-one: #0D0259;
    --blue-dark: #0A0140;
    --light-blue: #77B9F2;
}
img {
    display: block;
    width: 100%;
}
.fit {
  object-fit: scale-down;
}
.gradient-background {
  background: linear-gradient(140deg, rgba(119,185,242,0.4) 0%, rgba(135,4,191,0.1) 100%);
  border-radius: 24px;
}
 

body {
    min-height: 300vh;
    background-image: url(/assets/background3.svg); 
    background-size: 250%;
    background-position: center;
    background-repeat: repeat;
}
#bg-lines {
  background-image: url(/assets/background1.svg);
}
@media (max-width: 600px) {
  body {
    background-size: 700%;
    background-position: top;
  }
}
h1, h2, h3, h4, h5, p, li {
    color: white;
}
p {
    font-weight: 200;
    line-height: 1.8;
}
li {
  font-weight: 200;
  line-height: 1.8;
}
h1 {
    font-size: 8vh;
    font-weight: 700;
}
h2 {
    font-weight: 400;
    font-size: 3vh;
}

a {
    font-family: 'Heebo', sans-serif;
    color: white;
    text-decoration: none;
    transition: color 200ms ease;
}
a:hover {
    color: var(--purple);
}

/* Desktop menu */

.white-line {
    width: 1px;
    height: 25px;
    background-color: white;
}
.white-line-longer {
  height: 45px;
}

.desktop-nav {
    position: sticky;
    top: 25%;
    left: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5vw;
    gap: 2vh;
    transition: all 400ms ease;
    padding-top: 5%;
    padding-bottom: 5%;
    opacity: 0.3;
    z-index: 2000;
}

.desktop-nav-item {
    padding: 1px;
    transition: all 400ms ease;
}

.desktop-nav:hover {
    transform: scale(1.3);
    translate: 50% 0%;
    opacity: 1;
}

.desktop-nav:hover > .desktop-nav-item:nth-child(1) {
    transform: rotate(-6deg);
    translate: 1% 0%;
}
.desktop-nav:hover > .desktop-nav-item:nth-child(2) {
    transform: rotate(-3deg);
    translate: 20% 0%;
}
.desktop-nav:hover > .desktop-nav-item:nth-child(3) {
    translate: 8% 0%;
}
.desktop-nav:hover > .desktop-nav-item:nth-child(4) {
    transform: rotate(3deg);
    translate: 20% 0%;
}
.desktop-nav:hover > .desktop-nav-item:nth-child(5) {
    transform: rotate(6deg);
    translate: 1% 0%;
    z-index: 2;
}
.desktop-nav-item:nth-child(5):hover .desktop-nav-submenu {
    display: block;

}

.desktop-nav-submenu {
    position: absolute;
    top: -310%;
    left: 55%;
    display: none;
    padding: 3.5rem 3.5rem 3.5rem 1.5rem;
    margin-left: 25%;
    z-index: 1;
    transform: rotate(-6deg);
}


.submenu-item {
    transition: opacity calc(var(--order) * 10ms) ease, 
        color 200ms ease,
        translate 200ms ease,
        transform calc(var(--order) * 100ms) ease,
        translate calc(var(--order) * 100ms) ease;
    opacity: 0.3;
    display: block;
    
}
.desktop-nav-submenu:hover .submenu-item {
    opacity: 1;
    translate: 5px 0px;
}

.desktop-nav-submenu:hover > .submenu-item:nth-child(1) {
    transform: rotate(-18deg);
    translate: 10% -125%;
}
.desktop-nav-submenu:hover > .submenu-item:nth-child(2) {
    transform: rotate(-8deg);
    translate: 20% -100%;
}
.desktop-nav-submenu:hover > .submenu-item:nth-child(3) {
    transform: rotate(-3deg);
    translate: 30% -60%;
}
.desktop-nav-submenu:hover > .submenu-item:nth-child(4) {
    transform: rotate(5deg);
    translate: 30% -20%;
}
.desktop-nav-submenu:hover > .submenu-item:nth-child(5) {
    transform: rotate(9deg);
    translate: 25% 15%;
}
.desktop-nav-submenu:hover > .submenu-item:nth-child(6) {
    transform: rotate(15deg);
    translate: 18% 30%;
}

/* Mobile nav */
.mobile-nav-container {
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px;
  top: 2%;
  left: 80%;
}



.mobile-nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.mobile-nav-container li {
  margin: 0 10px;
}
.mobile-nav-container a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/************************ Header Mobile *********************************/
@media (min-width: 600px){
  .mobile-nav-container {
    display: none;
  }
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 1000;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 6px 0px;
  transition: 0.4s;
  z-index: 1000;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0vh;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  background-color: #131224;
  padding-top: 120px;
  transition: 0.4s;
  z-index: 2;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background: linear-gradient(106deg, rgba(135,4,191,1) 0%,     rgba(119,185,242,1) 50%, rgba(13,2,89,1) 100%);
  background-size: 200% 100%;
  color: white;
  text-decoration: none;
  border-radius: 12px;
}
/* Card */

.card {
    overflow: hidden;
    margin-top: 5vh;
    height: 45vmin;
    aspect-ratio: 5/7;
    border-radius: 24px;
    background-color: #141414;
    position: relative;
    
  }
  .card:after {
    background: linear-gradient(transparent, #8704BF, transparent);
    width: 3px;
    height: 70px;
    position: absolute;
    left: -1px;
    top: 65%;
    content: "";
    opacity: 0.1;
    transition: all 400ms ease;
    z-index: 3;
  }
  .card:hover:after {
    top: 25%;
    opacity: 1;
    z-index: 3;
  }
  .card-background img {
    width: 100%;
    height: 100%;
    aspect-ratio: 5/7;
    object-fit: cover;
  } 
  .card-background {
    position: absolute;
    top: 0%;
    transition: transform 500ms ease;
  }
  
  .card-content {
    background: linear-gradient(0deg, #00000088 30%, transparent);
    height: 100%;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .card-title {
    font-size: 3vw;
    position: absolute;
    opacity: 1;
    transition: translate 400ms ease-in-out;
    z-index: 1;
  }
  .card-subtitle {
    font-size: 1.5vw;
    position: absolute;
    width: 70%;
    left: 5%;
    opacity: 0;
    translate: 25% 650%;
    transition: translate 400ms ease-in-out,
      opacity 400ms ease;
    z-index: 1;
  }
  .card-content:hover > .card-title {
    translate: 0% -650%;
  
  }
  .card-content:hover > .card-subtitle {
    opacity: 1;
    translate: 25% 0%;
  }
  .card-content:hover > .card-background {
    transform: scale(1.1);
  }
  
  /* Button */

  .button {
    position: relative;
    bottom: 0;
    box-shadow: 2px 1px 3px 0px rgba(20,20,20,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(106deg, rgba(135,4,191,1) 0%,     rgba(119,185,242,1) 50%, rgba(13,2,89,1) 100%);
    background-size: 200% 100%;
    height: 60px;
    aspect-ratio: 12/5;
    border-radius: 10px;
    transition: all 400ms ease;
    cursor: pointer;
  }
  
  .button-link {
    color: white;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    transition: all 400ms ease;
  }
  .button-link:hover {
    color: white;
    transform: scale(1.01);
  }
  .button:hover {
    background-size: 100% 100%;
  }

  /* Footer desktop */

@media (min-width: 600px) {
  footer {
    position: relative;
    padding: 2%;
    min-height: 5vh;
    display: flex;
    max-width: 1200px;
    margin: 5vh auto 8vh auto;
    align-items: center;
    justify-content: space-around;

  }
  .footer-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
}

@media (max-width: 600px){
    footer {
      min-height: 15vh;
      margin: 2vh 10% 10% 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .footer-container {
      height: 95px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
    }
    footer a, footer p {
      font-size: 2vh;
    }
    .white-line {
      display: none;
    }
}
    

