---
import PlaylistCard from "./Playlist-card.astro";
interface Props {
    title: string;
}
const {title} = Astro.props;
---

<div class="grid">
    <h1>{title}</h1>
    <div class="flex">
        <slot />


</div>

</div>

<style>
    .grid {
        background-color: rgb(17, 17, 17);
        width: 96%;
        padding: 24px;
        border-radius: 10px;
        margin: 10px;
    }
    .flex {
        display: flex;
        
        gap: 10px;
        padding: 24px;
        border-radius: 10px;
    }
    .grid h1 {
        color: white;
    }
</style>