* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Point events non */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

.game_window {
    position: relative;
    aspect-ratio: 16/9;
    width: 60%;
    border-style: solid;
    border-color: black;
    left: 15%;
    top: 5%;
    background-image: url(/sandboxspil/assets/baggrund1.svg);
    background-size: cover;
}

#fisk_container {
    position: absolute;
    aspect-ratio: 16/11;
    width: 10%;
    /*top: 5%;*/
    /*left: 0%;*/
}

#fisk_sprite {
    background-image: url(/sandboxspil/assets/fisk1.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

#skrald_container {
    position: absolute;
    aspect-ratio: 10/13;
    width: 7%;
    /*top: 5%;*/
    /*left: 25%;*/
}

#skrald_sprite {
    background-image: url(/sandboxspil/assets/skrald1.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
}
#time_container {
    width: 5%;
    aspect-ratio: 1/5.1;
}
#time_sprite{
    width: 100%;
    height: 100%;
    transform-origin: bottom;
    background-image: url(/sandboxspil/assets/timer1.svg);
}
.tid {
    animation-name: time_ani;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes time_ani {
    from {
        clip-path: inset(0 0 0);
    }
    to {
        clip-path: inset(100% 0 0);
    }
}

/* Fisk positions */

.fisk_pos_1{
    top: 5%;
    left: 0%;

}
.fisk_pos_2{
    top: 13%;
    left: 0%;
}
.fisk_pos_3{
    top: 28%;
    left: 0%;
}
.fisk_pos_4{
    top: 51%;
    left: 0%;
}
.fisk_pos_5{
    top: 69%;
    left: 0%;
}

/* Skrald positions */

.skrald_pos_1{
    top: 0%;
    left: 16%;
}
.skrald_pos_2{
    top: 0%;
    left: 29%;
}
.skrald_pos_3{
    top: 0%;
    left: 43%;
}
.skrald_pos_4{
    top: 0%;
    left: 61%;
}
.skrald_pos_5{
    top: 0%;
    left: 75%;
}
.skrald_pos_6{
    top: 0%;
    left: 51%;
}
.skrald_pos_7{
    top: 0%;
    left: 49%;
}
.skrald_pos_8{
    top: 0%;
    left: 37%;
}
.skrald_pos_9{
    top: 0%;
    left: 88%;
}
.skrald_pos_10{
    top: 0%;
    left: 90%;
}

.remove {
    animation-name: remove_ani;
    animation-duration: 0.1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

@keyframes remove_ani {
    from {
        clip-path: circle(100%);
    }
    to {
        clip-path: circle(0%);
    }
}
/* TO DO 

.remove_skrald {
    
}

 TO DO */
.move_right {
    animation-name: move_right_ani;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}


@keyframes move_right_ani {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(950%, 0);
    }
}

.frys {
    animation-play-state: paused;
  }
  


.move_left {
    animation-name: move_left_ani;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}


@keyframes move_left_ani {
    from {
        transform: translate(950%, 0);
    }
    to {
        transform: translate(0%, 0);
    }
}

.move_down {
    animation-name: move_down_ani;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move_down_ani {
    from {
        transform: translate(0, -100%);
    }
    to {
        transform: translate(0, 450%);
    }
}